*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
      
}


.header{
  width: 100%;
  height: 732px;
  background-color: rgb(37, 34, 34);
  background-image:linear-gradient(to bottom left, rgba(255, 255, 255, 0),rgba(0, 0, 0, 1)),url(images/Rectangle.jpg);
  background-size: auto;
  background-position: center;
  position: relative;
   background-repeat: no-repeat;
      
  

}
nav .fa{

display: none; 

}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 171px;
  height: 37px;
  top: 34px;
  left: 86px;
}

.nav-links{
  flex: 1;
  text-align: right;

}

.nav-links ul li{
  list-style: none ;
  display: inline-block;
  padding: 8px 20px;
  position: relative;
}

.nav-links ul li a{
 color: #fff ;
 text-decoration: none;
}

.nav-links ul li::after{
  content:'';
  width:0px;
  Height: 3px;
  background: #f8dc3d ;
  display: block;
  margin: auto;
  transition: 0.5s;
  


}

.nav-links ul li:hover::after{
  width:100%;

}
.btn {
  display: inline-block;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #f8dc3d;
  border: 2px solid rgba(248, 220, 61, 1);
  border-radius: 15px;
  margin: 4px 2px;

  
}
.btn1{
  display: inline-block;
  padding: 5px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: rgba(255, 106, 106, 1);
  border: none;
  border-radius: 15px;
  margin: 4px 25px;

  
}

.btn2{
  display: inline-block;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color:transparent;
  border: 2px solid white;
  border-radius: 15px;
  margin: 4px 2px;


}
.button-space{
  margin-left:10px 25px;
}

.text-box{
  width:1060px ;
  height: 156px;
  color: #fff;
  position: absolute;
  top: 250px;
  left: 190px;
  text-align: center;
}
.text-box h1{
  font-size: 64px ;
  line-height: 78.02px ;
}

.text-box p{
  width:144px ;
  height: 20px;
  top: 216px;
  left: 358px;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 8%;
  color: #f8dc3d;
  margin-left: 180px;
}

.vector-position img{
  width: 62px;
  height: 62px;
  top: 250px;
  left: 245px;
  position: absolute;
  margin-top: 40px;
  
}

.vector-position-blue img{
  width: 62px;
  height: 62px;
  top: 328px;
  margin-left: 1112px;
  position: absolute;
  margin-top: 40px;
}

.button-space-between{
  width: 412px;
  height: 54px;
  top: 458px;
  left: 514px;
  position: absolute;
}

.btn-request{
  display: inline-block;
  padding: 10px 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #f8dc3d;
  border: 2px solid rgba(248, 220, 61, 1);
  border-radius: 20px;
  margin-right: 10px;
}


.btn-contact{
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color:transparent;

  border: 2px solid white;
  border-radius: 20px;
  margin-left: 3px;
}

.second_section{
  height: 500px;
  top: 882px;
  width: 100%;
  
}

.second_section h1{
  font-family: 'Montserrat';
  font-size: 30px;
  line-height: 200px;
  padding-left: 50px;
  color: rgba(0, 0, 0, 1);


}

.sec_background{
  width: 100%;
  height: 200px;
  top: 943px;
  background-color: rgba(238, 238, 238,1);
}

.column {
  padding-left: 60px;
  
  overflow: hidden;
  margin-top: 60px;
}

/* Clear floats after image containers */
.row {
  display: flex;
  justify-content: space-between;
  float: left;

}

.third_section{
  height: 500px;
  top: 500px;
}

.third_section h1{
  font-family: 'Montserrat';
  font-size: 30px;
  line-height: 200px;
  padding-left: 50px;
  color: rgba(0, 0, 0, 1);
}

.third-row{

  display: flex;
  justify-content: space-between;
  float: left;

}

.third-col{
   padding-left: 50px;

}

.third-col p{
  font-family: 'Montserrat';
  color: rgba(248, 220, 61, 1);
  font-size: 20px;
  line-height: 21.94px;
  font-weight: 700;
}


.fourth_sec{
  height: 500px;
  top: 500px;
  width: 100%;

}

.fourth_background{

  

  height: 285px;
  width: 93%;
  top: 882px;
  border-radius: 12px;
  margin-left: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(238, 238, 238,1);
  margin-top: 120px;
  margin-right: 100px;

}

.fourth_background h1{
  font-family: 'Montserrat';
  font-size: 25px;
  line-height: 30px;
  padding-left: 50px;
  padding-top: 40px ;
  color: rgba(0, 0, 0, 1);

}

.fourth_background p{
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 19.5px;
  padding-left: 50px;
  padding-top: 20px;
  color: rgba(100, 100, 100, 1);
  



}

.btn-contact-again{

  display: inline-block;
  padding: 15px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #f8dc3d;
  border: 2px solid rgba(248, 220, 61, 1);
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 50px;
}

.fourth_sec_row{
  
  
  display: flex;
  justify-content: space-between;
  float: left;

}

.fourth_sec_col{

  position: relative;  
}

.fourth_sec_col img{
height: 280px ;
 width: 585px ;
 border-radius: 10px;
}

.section-five{
height: 500px;
top: 500px;
}
.fifth-background{ 

width: 93%;
height: 285px;
top: 882px;
border-radius: 12px;
margin-left: 50px;

}
.fifth-row{

display: flex;
justify-content: space-between;
float: left;

}

.fifth-col h1{

font-family: 'Montserrat';
font-size: 25px;
padding-left: 200px;
line-height: 2;
color: rgba(0, 0, 0, 1);

}

.fifth-col p{
font-family: 'Montserrat';
font-size: 15px;
line-height: 19.5px;
padding-left: 200px;
color: rgba(100, 100, 100, 1);
}



.btn-Read{
display: inline-block;
padding: 10px 20px;
font-size: 20px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
color: black;
background-color:transparent;

border: 2px solid black;
border-radius: 20px;

margin-top: 50px;
margin-left: 250px;
margin-right: 20px;
}

.section-six{

width: 100%;
height: 450px;
top: 500px;
}
.sixth-back{

width: 93%;
height: 200px;
top: 882px;
margin-left: 50px;
margin-top: 50px;


}
.section-six img{
margin-bottom: 20px;
}
.section-six h1{
font-family: 'Montserrat';
font-size: 25px;
line-height: 2;
color: rgba(0, 0, 0, 1);

}

.section-six p{

font-family: 'Montserrat';
font-size: 15px;
line-height: 19.5px;
margin-top: 20px;
color: rgba(100, 100, 100, 1);


}

.row-sixth{

margin-top: 50px;
display: flex;
justify-content: space-between ;


}

.sixth-col{

flex-basis: 32%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
background-color: rgba(238, 238, 238,1);
border-radius: 12px;
margin-bottom: 50px;
padding: 20px 12px;
box-sizing: border-box;

}

.sec-seven{
height: 450px;
margin-top: 50px;


}

.seven-background{
  width: 93%;
  height: 330px;
  top: 882px;
  border-radius: 12px;
  margin-left: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(238, 238, 238,1);
 

}

.seven_sec_col h1{
font-family: 'Montserrat';
font-size: 25px;
line-height: 30px;
padding-left: 50px;
color: rgba(0, 0, 0, 1);

}

.seven_sec_col p{
font-family: 'Montserrat';
font-size: 15px;
line-height: 19.5px;
padding-left: 50px;
padding-top: 20px;
color: rgba(100, 100, 100, 1);
}

.seven_sec_row{

margin-top: 50px;
display: flex;
justify-content: space-between ;


}

.seven_sec_col{

flex-basis: 40%;

border-radius: 12px;
margin-bottom: 50px;
padding: 20px 12px;
box-sizing: border-box;

}


.footer{

width: 100%;
height: 430px;
margin-top: 50px;
background-color: rgba(238, 238, 238,1);

}

.footer-back{
width: auto;
height: 350px;
display: grid;
justify-content: center;
grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
grid-gap:20px;
margin-top: 50px;


}


.details  {
position: relative;
margin-left: 50px;
}

.logo{
margin-bottom: 30px;
margin-top: 50px;
}

.sci {
margin-bottom: 20px;
position: relative;
}

.sci li{
list-style: none;


}
.icons{
display: grid;
grid-template-columns:  1fr;
margin-bottom: 16px;
}
.icons a{
padding-left: 20px;
}

.sci li a{
margin-bottom: 20px;
color: black;
text-decoration: none;
display: inline-block;
padding-left: 20px;
}
.Solutions h2{
position: relative;
color: black;
font-weight: 700;
margin-bottom: 15px;
margin-top: 50px;

}

.Solutions li{
list-style: none;

}
.Solutions li a{
color: rgba(100, 100, 100, 1);
text-decoration: none;
margin-bottom: 20px;
display: inline-block;
}

.apps h2{
position: relative;
color: black;
font-weight: 700;
margin-bottom: 15px; 
margin-top: 50px;
}

.apps li{
list-style: none;
}

.apps li a{
color: rgba(100, 100, 100, 1);
text-decoration: none;
margin-bottom: 20px;
display: inline-block;
}


.Help h2{
position: relative;
color: black;
font-weight: 700;
margin-bottom: 15px;
margin-top: 50px;
}

.Help li{
list-style: none;

}

.Help li a{
color: rgba(100, 100, 100, 1);
text-decoration: none;
margin-bottom: 20px;
display: inline-block;
}


.company h2{
position: relative;
color: black;
font-weight: 700;
margin-bottom: 15px;
margin-top: 50px;
}

.company li {
  list-style: none;
}

.company li a{
color: rgba(100, 100, 100, 1);
text-decoration: none;
margin-bottom: 20px;
display: inline-block;
}

.copylinks{
display: flex;
}

.copylinks p{
margin-left: 50px;
white-space: nowrap;
color: rgba(100, 100, 100, 1);
display: inline-block;
position: relative;

}

.copylinks ul{
flex: 1;
text-align: right;
display: inline-block;
position: relative;
margin-left:300px;

}

.copylinks ul li{
list-style: none ;
display: inline-block;
padding: 8px 20px;
}

.copylinks ul li a{
color: rgba(100, 100, 100, 1);;
text-decoration: none;
}

hr{
height: 2px;
margin-left: 50px;
margin-right: 30px;
background-color:#f8dc3d;
border: 1px;
margin-bottom: 20px;
}
 

